// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
// @import "active_admin/base";

$primary-color: #1e40af;   // deep blue
$secondary-color: #f59e0b; // amber
$accent-color: #10b981;    // emerald
$header-color: #1e293b;    // dark header
$text-color: #181127;   
@import "arctic_admin/base";

:root {
    --aa-primary-color: #1e40af;   // custom primary (blue-900)
    --aa-secondary-color: #f59e0b; // custom secondary (amber-500)
    --aa-accent-color: #10b981;    // accent (emerald-500)
  }


.dropdown{
    width: calc(80% - 22px);
    border: 1px solid #c9d0d6;
    border-radius: 3px;
    font-size: 0.95em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: none;
    padding: 8px 10px 7px;
}
#footer {
    display: none !important;
  }